#homeSection {
	height: 80vh;
	position: relative;
	color: #fff;
}
#homeSection h1 {
	font-weight: bold;
	font-size: 64px;
	margin-bottom: 1rem;
	line-height: 1.25;
}
#homeSection p {
	margin-bottom: 2rem;
}
#homeSection .button:not(:last-child) {
	margin-right: 1rem;
}

@media screen and (min-width: 2156px) {
	#homeHero {
		padding-left: 30%;
	}
}